body {
  font-family: sans-serif;
  font-size: 24px;
}

.margin-block {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.nav-bar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.866);
  display: flex;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.logo {
  font-variant: small-caps;
  font-weight: bold;
  margin-right: 3rem;
}

.nav-bar-ul {
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  list-style: none;
}

.nav-sign {
  display: flex;
  justify-content: flex-end;
  margin-left: 5rem;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.nav-link:link,
.nav-link:visited {
  text-align: center;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 15px;
  border: 2px transparent solid;
  margin: 0.5rem;
}

.nav-link:hover,
.nav-link:active {
  background-color: #3e3e3e;
}

.nav-btn-sign-up {
  background-color: green;
}

.nav-btn-sign-up:hover {
  border-color: green;
}

.nav-btn-sign-in {
  background-color: red;
}

.nav-btn-sign-in:hover {
  border-color: red;
}
