{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Nutri Food</title>
    <link rel="stylesheet" href="{% static 'search/style.css' %}" />
  </head>
  <body>
    <section>
      <nav class="nav-bar">
        <div class="logo"><a href="/home">NUTRI FOOD</a></div>
        <div>
          <ul class="nav-bar-ul">
            <li class="nav-li">
              <a class="nav-link" href="/home">Accueil</a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="/list-products">Liste des produits</a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="nav-sign">
          <a class="nav-link nav-btn-sign-up" href="/sign-up">Enregistrer</a>
          <a class="nav-link nav-btn-sign-in" href="/sign-in">Connecter</a>
        </div>
      </nav>
    </section>
    <section class="margin-block">{% block content %} {% endblock %}</section>
  </body>
</html>
